input:focus {
  outline: none;
}

button:focus {
  outline: 1px solid #4d90fe;
}

img:focus { border: 5px solid orange; }

iframe {
  border: none;
  width: 100%;
}

body {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  margin: 0;
}

.header {
  background: #f1f1f1;
  border-bottom: 0px;
  font: 13pt sans-serif;
  margin-left: 0;
  opacity: 0.5;
  padding-bottom: 0;
  padding-left: 6px;
}

.listInputView {
  font-size: 13px;
}

.richtext {
  -webkit-box-flex: 1;
  padding-left: 3px;
}

body > input {
  margin: 0 0 0 0;
  padding-right: 0;
  font-size: 13px;
}

body > input[type="text"], input[type="String"] {
  width: 100%;
  height: 38px;
  padding-left: 8px;
  border-left-width: 0px;
  border-right-width: 0px;
}

.contactTileDetails {
  width: 250px;
  margin-top: 2px;
}

.contactTileDetails > li {
  display: block;
}

.contactTileDetails > li > span {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.autocompleteListView {
  left: 8px;
}

#header {
  position: absolute;
  top: 0px;
  right: 0px;
}

body > input[name="subject"] {
  border: 0px;
  font-size: 13px;
  font-weight: bold;
  outline: none;
}

body > input[name="to"] {
  border: 0px;
}

.toolbar {
  background: #ffffff;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-top: 8px;
}

.actionButton-send {
  background: #4d90fe;
  border-radius: 3px;
  box-shadow: none;
  color: white;
  float: left;
  margin-right: 10px;
  padding: 6px 15px;
  text-shadow: none;
}

.actionButton-send:hover {
  background: #357ae8;
}

.actionButton-send:disabled {
  background: gray;
}

.actionButton-close, .actionButton-minimize {
  background: none;
  border: none;
  box-shadow: none;
  padding: 10px;
  text-shadow: none;
  opacity: 0.5;
}

.arrayTileView {
  box-sizing: border-box;
  padding: 5px 70px 0px 5px;
  border: 0px;
}

.listInputView {
  padding-left: 2px;
}

.actionButton-close:hover, .actionButton-minimize:hover {
  opacity: 1.0;
  background: #ffffff;
  background-color: #ffffff;
}

.toolbar .actionButton:not(.actionButton-send)  {
  background: none;
  border: none;
  box-shadow: none;
  padding: 4px 5px;
  text-shadow: none;
}

.toolbar .actionButton:hover:not(.actionButton-send)  {
  background-color: #eee;
  background-image: -webkit-linear-gradient(top,#eee,#e0e0e0);
  border-color: #ccc;
  border-radius: 3px;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}

.actionButton-discard {
  float: right;
  margin-right: 8px;
}

.attachments {
  margin-top: 4px;
  margin-bottom: 4px;
}

.attachment {
  background-color: #f5f5f5;
  border: 1px solid #dcdcdc;
  font-weight: bold;
  margin: 0 7px 4px;
  overflow-y: hidden;
  padding: 4px 4px 4px 8px;
  max-width: 448px;
  display: -webkit-flex;
}

.attachment .filenameandsize {
  display: inline-flex;
  min-width: 240px;
  width: 500%
}

.attachment .filename {
  color: #15c;
  font-size: 80%;
  overflow: hidden;
  padding-left: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.attachment .spacer {
  -webkit-box-flex: 1;
  width: 100%;
}

.attachment .size {
  font-size: 80%;
  margin-left: 10px;
  color: #777;
}

.attachment .remove {
  margin-top: -4px;
  float: right;
}

.attachment .remove button {
  background-color: #f5f5f5;
}

.recipientRow {
  width: 100%;
}

.recipientRow th {
  color: #999;
  padding: 6px;
  font-size: 13px;
  font-weight: normal;
}

.recipientRow td {
  padding: 0;
}

.recipientRow .arrayTileView {
  padding-top: 0;
}

@media (max-width: 350px) {
  .actionButton-leftJustify, .actionButton-centerJustify, .actionButton-rightJustify {
    display: none;
  }
}

@media (max-width: 400px) {
  .actionButton-numberedList, .actionButton-bulletList {
    display: none;
  }
}

@media (max-width: 450px) {
  .actionButton-decreaseIndentation, .actionButton-increaseIndentation {
    display: none;
  }
}

@media (max-width: 490px) {
  .actionButton-blockQuote {
    display: none;
  }
}
