body {
    margin: 0;
}

input {
    margin: 0 0 0 0;
    padding-right: 0;
}

.actionButton-send {
    background: red;
    color: white;
    text-shadow: none;
}

input[type="text"], input[type="String"]  {
    padding-left: 8px;
    height: 30px;
}

.actionButton-bold, .actionButton-italic, .actionButton-underline {
    background: none;
    border: none;
    box-shadow: none;
}

.toolbar {
    background: #f1f1f1
}
