iframe {
  border: none;
}

body {
  margin: 0;
}

input {
  margin: 0 0 0 0;
  padding-right: 0;
}

input[type="text"], input[type="String"]  {
  height: 38px;
  padding-left: 8px;
  border-left-width: 0px;
  border-right-width: 0px;
}

input[name="subject"] {
  border-top-width: 0px;
}

.toolbar {
  background: #f1f1f1;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-top: 4px;
}

.actionButton-send {
  background: #dd4b39;
  border-radius: 3px;
  box-shadow: none;
  color: white;
  margin-right: 10px;
  padding: 6px 15px;
  text-shadow: none;
}

.actionButton-bold, .actionButton-italic, .actionButton-underline, .actionButton-link {
  background: none;
  border: none;
  box-shadow: none;
  opacity: 0.5;
  padding: 4px 5px;
}

.actionButton-discard {
  border-radius: 3px;
  background: none;
  opacity: 0.5;
  padding: 3px 7px;
}


