.TodoRow:not(.editMode) .editView { display: none; }
.TodoRow.editMode .displayView { display: none; }
.TodoRow.completed .displayView { text-decoration: line-through; }
.TodoRow.editMode .completed { visibility: hidden; }
.TodoRow.editMode .remove { visibility: hidden; }
.actionButton-clear:disabled { display: none; }
