.title {
  color: #666;
  font-family: arial, sans-serif;
  font-size: 39px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
}

.subtitle {
  color: #666;
  font-family: arial, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
}

.searchBar {
  color: black;
  font-family: arial, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
}

.CIssueTableHeader {
  background:rgb(235, 239, 249);
  border-color: rgb(187, 187, 187);
  border-style: solid;
  border-width: 1px;
  height:28px;
  margin-left:6px;
  width:99.4%;
}

.CIssueTable {
  background: #fff;
  border: 1px solid #ccc;
  font-family: arial, sans-serif;
  font-size: 13px;
  margin-left:6px;
  margin-top:0;
  min-width: 1200px;
  width:99.6%;
}

.CIssueTable thead {
  background-color: #eee;
  height: 90px;
}

.CIssueTable th {
  font-weight: bold;
  padding: 2px;
  color: #00c;
  border: 1px solid #ccc;
}

.CIssueTable td {
  color: #000;
  padding: 2px;
  border-top: 1px solid #ccc;
}

.CIssueTable .OS {
  white-space: normal;
  overflow: auto;
}

.CIssueTable .summary {
  white-space: normal;
  overflow: auto;
}

.CIssueTable .label {
  color: green!important;
  font: 80% arial,sans-serif;
  white-space: nowrap;
}

.altViewButtons {
  margin-right: 7px;
  margin-top: 24px;
}
