body { overflow: hidden; }

.scrollSpacer { height: 24px }

.title {
  color: #666;
  font-family: arial, sans-serif;
  font-size: 39px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
}

.subtitle {
  color: #666;
  font-family: arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
}

#settings {
  margin-left: 15px;
}

.searchBar {
  color: black;
  font-family: arial, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
}

.QIssueTableHeader {
  background:rgb(235, 239, 249);
  border-color: rgb(187, 187, 187);
  border-style: solid;
  border-width: 1px;
  height:28px;
  margin-left:6px;
  width:99.4%;
}

.QIssueTable {
  background: #fff;
  border: 1px solid #ccc;
  font-family: arial, sans-serif;
  font-size: 13px;
  margin-left:6px;
  margin-top:0;
  min-width: 1200px;
  width:99.6%;
}

.QIssueTable thead {
  background-color: #eee;
  height: 90px;
}

.QIssueTable th {
  font-weight: bold;
  padding: 2px;
  color: #00c;
  border: 1px solid #ccc;
}

.QIssueTable td {
  color: #000;
  padding: 2px;
  border-top: 1px solid #ccc;
}

.QIssueTable .OS {
  white-space: normal;
  overflow: auto;
}

.QIssueTable .summary {
  white-space: normal;
  overflow: auto;
}

.QIssueTable .label {
  color: green!important;
  font: 80% arial,sans-serif;
  white-space: nowrap;
}

.altViewButtons {
  margin-right: 7px;
  margin-top: 24px;
}

#countField {
  margin-left: 30px;
  margin-right: 5px;
  font-weight: normal;
}

.QIssuePreview {
  border: 1px solid #666;
}

.actionButton-link, .actionButton-link:hover{
  border: none;
  background: white;
}

/* QIssuePreviewView*/
.qmaincol {
    padding: 3px;
    background: white;
}

.qissueheader {
    margin: 0.5em 0 0 0;
    border: 3px solid #e5ecf9;
    background: #e5ecf9;
}

.qpreviewtable {
    border-collapse: separate;
}

.qh3 {
    font-size: 130%;
    font-width: bolder;
}

.qvt {
    vertical-align: top;
}

.qissuepage {
    margin-top: 0;
}

.qissuemeta {
    width: 12em;
    border-right: 3px solid #e5ecf9;
    font-size: 95%;
    vertical-align: top;
}

.qissuepage td {
    padding: 0.5em .5em .5em 0;
}

.qissuemeta table td, .qissuemeta table th {
    margin: 0;
    padding: 0;
    padding-top: 5px;
}

.qmaincol td td, .qmaincol th th, .qmaincol th td, .qmaincol td th {
    font-size: 100%
}

.qlabel {
    color: green;
    text-decoration: none;
}

.topHeader {
    width: 100%;
    text-align: right;
    padding-bottom: 5px;
    margin-bottom: 10px;
    font: 13px arial, sans-serif;
    border-bottom: 2px solid rgb(150,192,250);
}
