.CIssueTable
{
  background: #fff;
  border: 1px solid #ccc;
  font-family: arial, sans-serif;
  font-size: 13px;
  min-width: 1200px;
}

.CIssueTable thead {
  background-color: #eee;
  height: 90px;
}

.CIssueTable th {
  font-weight: bold;
  padding: 2px;
  color: #00c;
  border: 1px solid #ccc;
}

.CIssueTable td {
  color: #000;
  padding: 2px;
  border-top: 1px solid #ccc;
}

.CIssueTable .OS {
  white-space: normal;
  overflow: auto;
}
.CIssueTable .summary {
  white-space: normal;
  overflow: auto;
}
