.issue-citation {
  margin: 20px;
  display: flex;
}

.issue-citation .owner {
  flex-grow: 0;
  overflow: hidden;
  margin-right: 20px;
  width: 80px;
  height: 80px;
  border-radius: 50px;
  border: 1px solid;
}

.issue-citation .middle {
  flex: 1;
}

.priority {
  text-align: center;
  font-weight: 700;
  color: white;
  flex-grow: 0;
  width: 80px;
  align-self: center;
  border-radius: 4px;
  width: 18px;
  padding: 10px;
}

.priority-1 {
  background: #DB4437;
}

.priority-2 {
  background: #F4B400;
}

.priority-3 {
  background: #4285F4;
}

.issue-citation .id {
   font-size: 1.5em;
   font-weight: 300;
}

body {
  font-family: Roboto2, 'Helvetica Neue', Helvetica, Arial;
}

.email-photo {
  overflow: hidden;
  width: 80px;
  height: 80px;
  border-radius: 50px;
  border: 1px solid;
}

.project-view {
  margin-left: 25px;
}

.project-citation {
  margin-top: 20px;
}

.project-citation img {
  vertical-align: middle;
  margin-right: 25px;
}

.project-citation .project-name.selected {
  color: blue;
}

.actionButton {
  background: white;
  border: none;
}
