
body {
  margin: 0px;
}

div.contentPanes {
  height: 90%;
  width: 100%;
  overflow: hidden;
  margin:0px;
}

div.listPane {
  padding: 1em;
  width: 25%;
  height: 90%;
  float:left;

}

div.detailPane {
  padding: 1em;
  overflow-y: scroll;
  width: 69%;
  height: 90%;
  float: left;
}

