.mdui-app-controller .header {
  background: #db4437;
}

.mdui-app-controller.searchMode .header .search {
  background: #db4437;
}

.header canvas {
  background: #db4437;
}

.email-view .header {
  background: #db4437;
}

input[name=q] {
  background: #db4437;
}

table {
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body, tbody, tr, td {
  margin: 0;
  padding: 0;
}

hr {
  border-top: 1px solid rgba(0,0,0,.1);
  border: none;
  height: 1px;
  margin: 0;
  padding: 0;
  background: rgba(0,0,0,.1);
}

a {
  text-decoration: none;
  color: #4285f4;
}

.actionButton {
  padding: 8px;
  vertical-align: middle;
  background: #db4437;
  border: none;
  -webkit-box-shadow: none;
  box-shadown: none;
  opacity: 0.76;
  outline: none;
}

.actionButton img {
  height: 24px;
  opacity: 0.76;
  width: 24px;
}

.popupChoiceList {
  box-shadow: 0 0 2px 2px rgba(0,0,0,.1), 0 0 3px 1px rgba(0,0,0,.1);
  border: none;
  border-radius: 2px;
  padding: 8px 0;
  min-width: 190px;
}

.popupChoiceList li {
  color: rgba(0, 0, 0, 0.54);
  font-size: 16px;
  padding: 16px;
  margin: 0;
  line-height: 16px;
}

.popupChoiceList li.selected {
  color: #e51c23;
}

.star {
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
  height: 24px;
  opacity: 0.76;
  vertical-align: middle;
  width: 24px;
  margin-top: auto;
}

.hide {
  display: none;
}

::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.actionButton-leaveSearchMode, .actionButton-back {
  margin: 4px;
}

.actionButton-leaveSearchMode img, .actionButton-back img {
  margin: 4px;
  opacity: 0.76;
}

select[name=sortOrder] {
  align-self: center;
  -webkit-align-self: center;
  margin: 20px;
}


.swipeAltOuter {
  -webkit-flex-grow: 1;
  flex-grow: 1;
}

.swipeAltInner {
  padding-top: 8px;
}

span[name=projectName] {
  align-self: center;
  -webkit-align-self: center;
  color: white;
  flex: 1.0;
  -webkit-box-flex: 1.0;
  vertical-align: middle;
  font-size: 20px;
  font-weight: 500;
  margin-left: 16px;
}

.stackview {
  height: 100%;
}

.stackview table {
  height: 100%;
}

.stackview_navbar {
  display: none;
}

.stackview_navactions {
  display: none;
}

.stackview-previewarea-td {
  display: none;
}

.stackview-viewarea {
  height: 100%;
}

.actionButton-save {
  border: none;
  margin-right: 40px;
}

.status-icon {
  height: 24px;
  margin: 0 24px 0 0;
  opacity: 0.54;
  padding: 2px;
  width: 24px;
}

select[name=pri], select[name=status] {
  background: white;
  border-color: white;
  width: 250px;
  height: 30px;
  margin-left: 30px;
  margin-top: 16px;
  outline: none;
}

.actionButton-changeProject {
  margin: 4px;
}

.swipeAltHeader {
  height: 36px;
}

.swipeAltHeader li {
  font-size: 14px;
  opacity: 0.8;
  line-height: 48px;
  padding-bottom: 14px;
}

.swipeAltHeader .selected {
  border-bottom: 2px solid #ff3f80;
  color: white;
  font-weight: 500;
  opacity: 1;
}

ul.swipeAltHeader {
  background: #db4437;
  box-shadow: 0 1px 1px rgba(0,0,0,.25);
  color: white;
  height: 48px;
  margin: 0;
  overflow: hidden;
  padding: 0 0 0 56px;
}

.actionButton {
  width: 48px;
  height: 48px;
  background: transparent;
}

.foamChoiceListView {
  padding: 14px 16px;
  margin: 0;
}

.stackview-slidearea {
   box-shadow: 1px 0px 1px 1px rgba(0,0,0,.2);
}


.email-view .monogram-string-view {
  margin: auto 6px auto 0;
}

.email-view .header {
  background: #db4437;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
  box-shadow: 0 1px 1px rgba(0,0,0,.15), 0 1px 3px rgba(0,0,0,.15);
  display: flex;
  display: -webkit-flex;
}

.email-view .header .actionButton {
  margin: 4px;
}

.email-view .from {
  font-size: 14px;
  font-weight: bold;
  display: block;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.email-view .details {
  font-size: 12px;
  color: rgb(119, 119, 119);
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.email-view .content {
  margin-top: 62px;
  margin-left: 18px;
  margin-right: 18px;
  word-break: break-word;
}

.email-view .subject {
  color: #fff;
  display: block;
  font-size: 20px;
  line-height: 28px;
  margin: auto;
  overflow-x: hidden;
  padding: 0px 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 1;
  -webkit-box-flex: 1.0;
}

.email-view .body {
  white-space: pre-wrap;
  margin-top: 20px;
  display: block;
}

.email-compose-view .header {
  background: #db4437;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
  box-shadow: 0 1px 1px rgba(0,0,0,.15), 0 1px 3px rgba(0,0,0,.15);
  display: flex;
  display: -webkit-flex;
}

.email-compose-view .header .actionButton {
  margin: 4px;
}

.email-compose-view .content {
  margin-top: 62px;
  margin-left: 6px;
  margin-right: 6px;
}

.email-compose-view .to {
}

.email-compose-view .cc {
}

.email-compose-view .bcc {
}

.email-compose-view .subject {
  color: #fff;
  display: block;
  font-size: 20px;
  line-height: 28px;
  margin: auto;
  overflow-x: hidden;
  padding: 0px 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 1;
  -webkit-box-flex: 1.0;
}

.email-compose-view .richtext {
  height: 300px;
}
