---
layout: default
---

<div class="post">

  <header class="post-header">
    <div class="combined-heading">
      <h2 class="mini-header">{{ page.title }} part {{ page.tutorial }}</h2>
      <h1>{{ page.tutorials[page.tutorial].title }}</h1>
    </div>
    <div class="toc">
      {% for tut in page.tutorials %}
        <a href="{{ tut.url | prepend: site.baseurl }}" class="toc-item {% if page.tutorial == forloop.index0 %}toc-item-selected{% endif %}">
          {{ tut.title }}
        </a>
      {% endfor %}
    </div>
  </header>

  <article class="post-content">
  {{ content }}
  </article>

</div>
